@charset "UTF-8";
/*
Projet: POPY - Starter intégration
Author: Laurent SUTTERLITY - laurent@sutterlity.fr
Version: 1.1
Date: 04 mai 2013
*/
/* ----------------------------------------
   Base
   ---------------------------------------- */
/* Html 5 definition
   ----------------------- */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}

[hidden] {
  display: none;
}

/* Base
   ----------------------- */
html {
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.lt-ie7 body {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font: 300 1.6em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

/* Link
    ----------------------- */
a {
  color: black;
}
a:hover {
  color: #555555;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

/* Typography
   ----------------------- */
h1, .h1-like {
  font-size: 1.875em;
}

h2, .h2-like {
  font-size: 1.75em;
}

h3, .h3-like {
  font-size: 1.625em;
}

h4, .h4-like {
  font-size: 1.5em;
}

h5, .h5-like {
  font-size: 1.25em;
}

h6, .h6-like {
  font-size: 1.125em;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
h1:fist-child, .h1-like:fist-child,
h2:fist-child, .h2-like:fist-child,
h3:fist-child, .h3-like:fist-child,
h4:fist-child, .h4-like:fist-child,
h5:fist-child, .h5-like:fist-child,
h6:fist-child, .h6-like:fist-child {
  margin-top: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ----------------------- */
img {
  border: 0;
}

.lt-ie8 img {
  -ms-interpolation-mode: bicubic;
}

video, img, object {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

img, input[type=image] {
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure
   ----------------------- */
figure {
  margin: 0;
}

/* Form
   ----------------------- */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: #cdcdcd;
}
input:-moz-placeholder {
  color: #cdcdcd;
}
input:-ms-input-placeholder {
  color: #cdcdcd;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* Table
   ----------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------
   Module
   ---------------------------------------- */
/* Grid
   ----------------------- */
.wrapper {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

[class*=col-] {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row > [class*="col-"]:first-child {
  margin-left: 0;
}

.row > [class*="col-"]:last-child {
  margin-right: 0;
}

.col-1 {
  width: 6.5%;
}

.col-2 {
  width: 15%;
}

.col-3 {
  width: 23.5%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40.5%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 57.5%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 74.5%;
}

.col-10 {
  width: 83%;
}

.col-11 {
  width: 91.5%;
}

.col-12 {
  width: 100%;
}

/* List inline
   ----------------------- */
.m-list-inline {
  padding-left: 0;
  list-style: none;
}

.m-list-inline li {
  display: inline-block;
  margin-right: 10px;
}

.m-list-inline li:last-child {
  margin-right: 0px;
}

/* ----------------------------------------
   No module
   ---------------------------------------- */
#header {
  background: #ccc;
  min-height: 80px;
}

#content {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ddd;
}

#section, #aside {
  min-height: 200px;
  background: #ccc;
}

#footer {
  background: #ccc;
  min-height: 80px;
}

/* ----------------------------------------
   RWD
   ---------------------------------------- */
/* Big screen
   ----------------------- */
@media only screen and (min-width: 1280px) {
  /* Declarations */
}
/* Normal screen
   ----------------------- */
@media only screen and (max-width: 1280px) and (mix-width: 768px) {
  /* Declarations */
}
/* Medium screen
   ----------------------- */
@media only screen and (max-width: 768px) {
  /* Declarations */
}
/* Small screen
   ----------------------- */
@media only screen and (max-width: 640px) {
  /* Declarations */
}
/* ----------------------------------------
   Helper
   ---------------------------------------- */
.lt-ie8 .clearfix, .lt-ie8 .row {
  zoom: 1;
}
.clearfix:before, .row:before, .clearfix:after, .row:after {
  content: "";
  display: table;
}
.clearfix:after, .row:after {
  clear: both;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.center-h {
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.hide {
  display: none;
}
