@charset "UTF-8";
/*
Projet: POPY - Starter intégration
Author: Laurent SUTTERLITY - laurent@sutterlity.fr
Version: 1.2
Date: 18 mai 2013
*/
/* ----------------------------------------
   Base
   ---------------------------------------- */
/* Html 5 definition
   ----------------------- */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}

[hidden] {
  display: none;
}

/* Base
   ----------------------- */
html {
  height: 100%;
  font-size: 62.5%;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

.lt-ie7 body {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  font: 1.4em/1.5 "Helvetica", Arial, sans-serif;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

/* Link
    ----------------------- */
a {
  color: black;
}
a:hover {
  color: #555555;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

/* List
   ----------------------- */
li ul, li ol {
  margin: 0;
}

ul, ol {
  margin: 0 1.5em 1.5em 0;
  padding-left: 1.5em;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

dl {
  margin: 0 0 1.5em 0;
}

dl dt {
  font-weight: bold;
}

dd {
  margin-left: 1.5em;
}

/* Typography
   ----------------------- */
h1, .h1-like {
  font-size: 2em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0;
}

h2, .h2-like {
  font-size: 1.8333em;
  line-height: 1.6364em;
  margin-top: 0.8182em;
  margin-bottom: 0;
}

h2, .h2-like {
  font-size: 1.6667em;
  line-height: 1.8em;
  margin-top: 0.9em;
  margin-bottom: 0em;
}

h4, .h4-like {
  font-size: 1.5em;
  line-height: 1em;
  margin-top: 1em;
  margin-bottom: 0;
}

h5, .h5-like {
  font-size: 1.3333em;
  line-height: 1.125em;
  margin-top: 1.125em;
  margin-bottom: 0;
}

h6, .h6-like {
  font-size: 1.3333em;
  line-height: 1.125em;
  margin-top: 1.125em;
  margin-bottom: 0em;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  font-weight: bold;
  text-rendering: optimizeLegibility;
}
h1:first-child, .h1-like:first-child,
h2:first-child, .h2-like:first-child,
h3:first-child, .h3-like:first-child,
h4:first-child, .h4-like:first-child,
h5:first-child, .h5-like:first-child,
h6:first-child, .h6-like:first-child {
  margin-top: 0;
}

p {
  margin: 0 0 1.5em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
    ----------------------- */
img {
  border: 0;
}

.lt-ie8 img {
  -ms-interpolation-mode: bicubic;
}

video, img, object {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

img, input[type=image] {
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure
   ----------------------- */
figure {
  margin: 0;
}

/* Form
   ----------------------- */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input::-webkit-input-placeholder {
  color: #cdcdcd;
}
input:-moz-placeholder {
  color: #cdcdcd;
}
input:-ms-input-placeholder {
  color: #cdcdcd;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

/* Table
   ----------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------
   Module
   ---------------------------------------- */
/* Grid
   ----------------------- */
.wrapper {
  max-width: 1000px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

[class*=col-] {
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row > [class*="col-"]:first-child {
  margin-left: 0;
}

.row > [class*="col-"]:last-child {
  margin-right: 0;
}

/* Column */
.col-1 {
  width: 6.5%;
}

.col-2 {
  width: 15%;
}

.col-3 {
  width: 23.5%;
}

.col-4 {
  width: 32%;
}

.col-5 {
  width: 40.5%;
}

.col-6 {
  width: 49%;
}

.col-7 {
  width: 57.5%;
}

.col-8 {
  width: 66%;
}

.col-9 {
  width: 74.5%;
}

.col-10 {
  width: 83%;
}

.col-11 {
  width: 91.5%;
}

.col-12 {
  width: 100%;
}

/* Push left column */
.offset-col-1 {
  margin-left: 9.5%;
}

.row > .offset-col-1:first-child {
  margin-left: 8.5%;
}

.offset-col-2 {
  margin-left: 19%;
}

.row > .offset-col-2:first-child {
  margin-left: 17%;
}

.offset-col-3 {
  margin-left: 28.5%;
}

.row > .offset-col-3:first-child {
  margin-left: 25.5%;
}

.offset-col-4 {
  margin-left: 38%;
}

.row > .offset-col-4:first-child {
  margin-left: 34%;
}

.offset-col-5 {
  margin-left: 47.5%;
}

.row > .offset-col-5:first-child {
  margin-left: 42.5%;
}

.offset-col-6 {
  margin-left: 57%;
}

.row > .offset-col-6:first-child {
  margin-left: 51%;
}

.offset-col-7 {
  margin-left: 66.5%;
}

.row > .offset-col-7:first-child {
  margin-left: 59.5%;
}

.offset-col-8 {
  margin-left: 76%;
}

.row > .offset-col-8:first-child {
  margin-left: 68%;
}

.offset-col-9 {
  margin-left: 85.5%;
}

.row > .offset-col-9:first-child {
  margin-left: 76.5%;
}

.offset-col-10 {
  margin-left: 95%;
}

.row > .offset-col-10:first-child {
  margin-left: 85%;
}

/* List inline
   ----------------------- */
.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline li {
  display: inline-block;
  margin-right: 10px;
}
.lt-ie8 .list-inline li {
  display: inline;
  zoom: 1;
}

.list-inline li:last-child {
  margin-right: 0px;
}

/* list vertical
   ----------------------- */
.list-vertical-reset {
  padding-left: 0;
  list-style: none;
}

/* Button
   ----------------------- */
.btn {
  display: inline-block;
  padding: 0.25em 1em;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  color: #212121;
  background: #ccc;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.lt-ie8 .btn {
  display: inline;
  zoom: 1;
}
.btn:hover, .btn:focus {
  color: #ccc;
  background: #212121;
}
.btn:active {
  color: white;
  position: relative;
  top: 1px;
}
.btn.small {
  font-size: .75em;
}
.btn.big {
  font-size: 1.25em;
}

/* ----------------------------------------
   No module
   ---------------------------------------- */
/* ----------------------------------------
   Helper
   ---------------------------------------- */
.lt-ie8 .clearfix, .lt-ie8 .row {
  zoom: 1;
}
.clearfix:before, .row:before, .clearfix:after, .row:after {
  content: "";
  display: table;
}
.clearfix:after, .row:after {
  clear: both;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  border: 0;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.center-h {
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.hide {
  display: none;
}

/* ----------------------------------------
   RWD
   ---------------------------------------- */
/* Big screen
   ----------------------- */
@media only screen and (min-width: 1280px) {
  /* Declarations */
}
/* Normal screen
   ----------------------- */
@media only screen and (max-width: 1280px) and (min-width: 768px) {
  /* Declarations */
}
/* Medium screen
   ----------------------- */
@media only screen and (max-width: 768px) {
  /* Declarations */
}
/* Small screen
   ----------------------- */
@media only screen and (max-width: 640px) {
  /* Declarations */
}
