@charset "UTF-8";

/*
Projet: POPY - Starter intégration
Author: Laurent SUTTERLITY - laurent@sutterlity.fr
Version: 1.3
Date: 27 mai 2013
*/

// ----------------------------------------------------------
// == Site settings
// ----------------------------------------------------------

// Html 5 Element
$audio-canvas-video: flase; // True | False

// Fonts
$font-base: "Helvetica", Arial, sans-serif;
$font-size-px: 14; // ne pas mettre px
$font-size-em : #{$font-size-px/10}em;
$line-height: 1.5;

// = Colors
// -----------------------------

// Text
$clr-text-base: #212121;

// link
$clr-link: #000;
$clr-link-hover: #555;

// Mixin Placeholder
$clr-mixin-placeholder: #cdcdcd;

// Selection
$clr-selection: #09F;

// Btn
$bkg-btn: #555;
$bkg-btn-hover: white;
$clr-btn: #212121;
$clr-btn-hover: #ccc;

// = Grid
// -----------------------------

// Taille maximale du wrapper
$wrapper-max-width: 1000px;

// Taille minimale du wrapper
$wrapper-min-width: 320px;

// Nombre de colonne
$cols: 10;

// Largeur de gouttière
$gutter-width: 20px;