@charset "UTF-8";

/*
Projet: POPY - Starter intégration
Author: Laurent SUTTERLITY - laurent@sutterlity.fr
Version: 1.1
Date: 04 mai 2013
*/

// ----------------------------------------------------------
// == Site settings
// ----------------------------------------------------------

// Html 5 Element
$audio-canvas-video: flase; // True | False

// Fonts
$font-base: "Helvetica", Arial, sans-serif;
$font-size-px: 14; // ne pas mettre px
$font-size-em : #{$font-size-px/10}em;
$line-height: 1.5;

// = Colors
// -----------------------------

// Text
$clr-text-base: #212121;

// link
$clr-link: #000;
$clr-link-hover: #555;

// Mixin Placeholder
$clr-mixin-placeholder: #cdcdcd;