/* Button
   ----------------------- */

.btn {
	@include inline-block();
	padding: 0 1em;
	margin: 0 5px 0 0;
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	cursor: pointer;
	text-decoration: none;
	@include transition();
	@include border-radius(4px);

	&.primary {
		color: $color-btn;
		background: $bkg-color-btn;
		&:hover, &:focus, &:active {
			color: $color-btn-hover;
			background: $bkg-color-btn-hover;
		}
	}

	&:active {
		position: relative;
		top: 1px;
	}

	&.small {
		font-size: .75em;
	}

	&.big {
		font-size: 1.25em;
	}

}