/* Button
-------------------------- */

%btn {
    @include inline-block(middle);
    padding: 0 $base-line-height;
    margin: 0;
    line-height: $base-line-height * 2;
    white-space: nowrap;
    text-align: center;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: all .2s ease-in-out;
    border-radius: $bdr-rad;
    -webkit-user-drag: none;
    @include user-select(none);
    -webkit-appearance: none;
}

.btn {
    @extend %btn;
    height: $base-line-height * 2;
    color: $white;
    background-color: $clr-1;
    &:hover {
        color: $white;
        background: $clr-1-darken;
    }
}

.btn-s {
    height: $base-line-height;
    padding: 0 $base-line-height / 2;
    line-height: $base-line-height;
    font-size: em(10px, 14px);
}

.btn-l {
    height: $base-line-height * 3;
    padding: 0 $base-line-height * 2;
    line-height: $base-line-height * 3;
    font-size: em(20px, 14px);
}

.btn-full { width: 100%; }