// Row size
$row-width: 100% !default;
@if $grid-fluid == true {
    $row-width: 100%;
} @else {
    $row-width: $wrapper-max-width;
}

// Column width
$col-width: $row-width / $cols;

// Mixin
@mixin col($cols) {
    width: $col-width * $cols;
}

@mixin offset-col($cols) {
    margin-left: $cols * $col-width;
}

/* Grid
-------------------------- */
.wrapper {
    @if $grid-fluid == true {
        max-width: $wrapper-max-width;
        min-width: $wrapper-min-width;
    } @else {
        width: $wrapper-max-width;
    }
    margin-left: auto;
    margin-right: auto;
}

.row {
    // remove white-space
    font-size: 1px;
    letter-spacing: -1px;
    .row {
        margin-left: -$gutter-width / 2;
        margin-right: -$gutter-width / 2;
    }
}

[class*=col-] {
    @include inline-block(top);
    /* Redifine font size */
    font-size: 14em;
    letter-spacing: normal;
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
}

/* Column */
@for $i from 1 through ($cols) {
    .col-#{$i} {
        @include col($i);
    }
}

/* Push left column */
@for $i from 1 through ($cols - 1) {
    .offset-col-#{$i} {
        @include offset-col($i);
    }
}

@include mq(tiny) {
    [class*=col-] {
        display: block;
        width: auto;
    }
}