/* List
-------------------------- */

%list-reset {
    padding-left: 0;
    list-style: none;
}

.list-reset {
    @extend %list-reset;
}

.list-inline {
    @extend %list-reset;
    // remove white-space
    font-size: 1px;
    letter-spacing: -1px;
    > li {
        margin-right: 5px;
        @include inline-block();
        /* Redifine font size */
        font-size: 14em;
        letter-spacing: normal;
        &:last-child {
            margin-right: 0;
        }
    }
}