/* List
-------------------------- */

%list-reset {
    padding-left: 0;
    list-style: none;
}

.list-reset {
    @extend %list-reset;
}

.list-inline {
    @extend %list-reset;
    > li {
        @include inline-block();
        + li {
            margin-left: 5px;
        }
    }
}