/* List
-------------------------- */

%list-reset, .list-reset {
    padding-left: 0;
    list-style: none;
}

/* For remove whitespace minify html */
.list-inline {
    @extend %list-reset;
    > li {
        @include inline-block();
        + li {
            margin-left: 10px;
        }
    }
}