/* Message
-------------------------- */

%message {
    @include leader();
    @include trailer();
    padding: 1.5em;
}

@mixin message($color) {
    @extend %message;
    color: $white;
    background: $color;
}

.message-error {
    @include message($clr-error);
}

.message-sucess {
    @include message($clr-sucess);
}

.message-warn {
    @include message($clr-warn);
}

.message-info {
    @include message($clr-info);
}