/* Message
-------------------------- */

[class*="msg-"] {
    @include trailer();
    padding: 1.5em;
    color: $white;
     a, strong { color: $white; }
}

.msg-error {
    background: $clr-error;
    a:hover, a:focus {
        color: shade($clr-error, 50%)
    }
}

.msg-sucess {
    background: $clr-sucess;
    a:hover, a:focus {
        color: shade($clr-sucess, 50%)
    }
}

.msg-warn {
    background: $clr-warn;
    a:hover, a:focus {
        color: shade($clr-warn, 50%)
    }
}

.msg-info {
    background: $clr-info;
    a:hover, a:focus {
        color: shade($clr-info, 50%)
    }
}