/* Base */

html {
    height: 100%;
    font-size: 62.5%
}

body {
    min-height: 100%;
    margin: 0;
    font: #{$font-size-em}/#{$line-height} $sans-serif;
    color: $text-clr;
    background: #fff;
}

*, *:before, *:after {
    @include box-sizing(border-box);
}