/* Embedded content
    ----------------------- */

// Remove border when inside `a` element in IE 8/9.
img { border: 0 }

.lt-ie8 img { -ms-interpolation-mode: bicubic }

video,img,object {
    max-width: 100%;
    height:auto;
}

object, embed { height: 100% }

iframe { border:0 }

// Aligne les images inline sur le texte
img, input[type=image] { vertical-align: bottom }

// Correct overflow displayed oddly in IE 9.
svg:not(:root) { overflow: hidden }