/* Embedded content */

// Remove border when inside `a` element in IE 8/9
img { border: 0; }

// Responsive content
img, object, embed, canvas, video, audio {
    max-width: 100%;
    height: auto;
}

object, embed { height: 100%; }

iframe { border: 0; }

img, input[type=image] { vertical-align: bottom; }

svg:not(:root) { overflow: hidden; }