.clearfix {
    @include clearfix();
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
    border: 0;
}

.hide-text {
    border: 0;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
}

// Spacing helper
// m,p = margin,padding
// a,t,r,b,l = all,top,right,bottom,left
.mt-0 { margin-top: 0 !important; }
.mt-large { margin-top: 20px; }
.mb-0 { margin-bottom: 0 !important; }
.mb-large { margin-bottom: 20px; }

.left { float: left; }

.right { float: right; }

.align-left { text-align: left; }

.align-right { text-align: right; }

.align-center { text-align: center; }

.text-justify { text-align: justify; }

.hide,
.hidden-desktop,
.visible-tablet,
.visible-phone {
    display: none;
}