/* Typographie
-------------------------- */

/* Reset margin-top on first-child */
p, ul,  #{headings()} {
    &:first-child {
        margin-top: 0;
    }
}

p {
    @include leader();
    @include trailer();
}

/* Headings */

#{headings()} {
    font-size: 1em;
    font-weight: normal;
    line-height: 1em;
}

%base {
    margin-top:    rhythm(1,$base-line-height*2);
    margin-bottom: rhythm(1,$base-line-height*2);
    font: {
        style: normal;
        weight: bold;
    }
    text-rendering: optimizeLegibility;
    color: $clr-0-darken;
}

.title-h1 {
    @extend %base;
    @include adjust-font-size-to(36px);
}
.title-h2 {
    @extend %base;
    @include adjust-font-size-to(30px);
}
.title-h3 {
    @extend %base;
    @include adjust-font-size-to(24px);
}
.title-h4 {
    @extend %base;
    @include adjust-font-size-to(18px);
}
.title-h5 {
    @extend %base;
    @include adjust-font-size-to(16px);
}
.title-h6 {
    @extend %base;
    @include adjust-font-size-to(14px);
}

abbr[title] { border-bottom: 1px dotted; }

strong { color: $clr-0-darken; }

b, strong { font-weight: bold; }

dfn {
    font-style: italic;
    line-height: 1em;
}

hr {
    display: block;
    height: 1px;
    margin: $base-line-height 0;
    padding: 0;
    border: 0;
    border-top: 1px solid $clr-0-light;
}

mark {
    background: #ff0;
    color: #000;
}

code, kbd, pre, samp {
    font-family: $serif;
}

code {
    padding: .2em .5em;
    color: $clr-0-light;
    background-color: $clr-0-darken;
    border-radius: $rad;
}

pre {
    @include leader();
    @include trailer();
    padding: rhythm(1);
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: $clr-0-darken;
    border-radius: $rad;
    code {
        padding: 0;
        background-color: transparent;
    }
}

blockquote {
    padding: 1.5em 20px;
    margin: $base-line-height 40px;
    font-family: $sans-serif;
    border-left: 4px solid $clr-2;
    color: $clr-2;
    background: $clr-0-lighten;
    small {
        @include adjust-font-size-to(11px);
        color: $clr-0;
        &:before {
            content: '\2014 \00A0';
            color: $clr-0;
        }
    }
}

cite { font-style: italic; }

q {
    quotes: none;
    &:before, &:after {
        content: '';
        content: none;
    }
}

small { font-size: 80%; }

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup { top: -0.5em; }

sub { bottom: -0.25em; }