/* nav
-------------------------- */

.navbar {
    padding: 2em 0 2em ($logo-w + 20);
    .is-active {
        color: $white;
    }
}

.navbar--list {
    margin: 0;
}

.navbar--item {
    @include inline-block();
    + .navbar--item {
        margin-left: 10px;
    }
}

.navbar--link {
    display: block;
    padding: 0 10px;
    line-height: $base-line-height * 2;
    text-decoration: none;
    border-radius: $rad;
    transition: $trans;
    &:hover, &:focus {
        background: $clr-1;
        color: $white;
    }
}