@charset "UTF-8";

/*
Projet: POPY - Starter intégration
Author: Laurent SUTTERLITY - laurent@sutterlity.fr
Version: 1.4
Date: 15 Juillet 2013
*/

// ----------------------------------------------------------
// == Html 5 Element
// ----------------------------------------------------------

$audio-canvas-video: false !default; // True | False

// ----------------------------------------------------------
// == Font
// ----------------------------------------------------------
$font-base: $helvetica;
$font-size-px: 14; // ne pas mettre px
$font-size-em : #{$font-size-px/10}em;
$line-height: 1.4;

// ----------------------------------------------------------
// == Spacing
// ----------------------------------------------------------
$spacing: 1.5em;

// ----------------------------------------------------------
// == Color
// ----------------------------------------------------------

// = Color init
// -----------------------------

$white: #fff;
$primary-color: #09f;

// Grey
$grey-lighten: #ededed;
$grey-light:   #cdcdcd;
$grey:         #212121;
$grey-dark:    #111;

// = Text
// -----------------------------
$color-text-base: $grey;

// = Link
// -----------------------------
$color-link:       $grey-dark;
$color-link-hover: $primary-color;

// = Placeholder
// -----------------------------
$color-mixin-placeholder: $grey-light;

// = Selection
// -----------------------------
$color-selection: $primary-color;

// = Button
// -----------------------------
$bkg-color-btn:       $primary-color;
$bkg-color-btn-hover: darken($bkg-color-btn, 15%);
$color-btn:           $white;
$color-btn-hover:     $white;

// ----------------------------------------------------------
// == Grid
// ----------------------------------------------------------

// Choix de grille fluide ou fixe
// Mettre true pour grille fluide
$grid-fluid: false !default;

// Taille maximale du wrapper en px
$wrapper-max-width: 960px;

// Taille minimale du wrapper en px
$wrapper-min-width: 320px;

// Nombre de colonne
$cols: 12;

// Largeur de gouttière en px
$gutter-width: 20px;

// ----------------------------------------------------------
// == Form
// ----------------------------------------------------------

$input-height: 25px;