@charset "UTF-8";
/*
Projet: POPY - Framework
Author: Laurent SUTTERLITY - laurent@sutterlity.fr
Version: 2.0
Date: September 2013
*/
/* ----------------------------------------
   Base / Normalize
------------------------------------------- */
/* Html 5 definition */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

/* Base */
html {
  height: 100%;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  margin: 0;
  font: 1.4em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #687374;
  background: #fff;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Link */
a {
  color: #3498db;
}
a:hover {
  color: #99cbed;
}
a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

/* Typographie
-------------------------- */
/* Reset margin-top on first-child */
p:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* Headings */
h1, h2, h3, h4, h5, h6,
.title-h1,
.title-h2,
.title-h3,
.title-h4,
.title-h5,
.title-h6 {
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

h1, .title-h1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2.57143em;
  line-height: 1.16667em;
}

h2, .title-h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 2.14286em;
  line-height: 1.4em;
}

h3, .title-h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.71429em;
  line-height: 1.75em;
}

h4, .title-h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.28571em;
  line-height: 2.33333em;
}

h5, .title-h5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  line-height: 1.5em;
}

h6, .title-h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.85714em;
  line-height: 1.75em;
}

/* Alternative font-sizing */
.smaller {
  margin-top: 2.1em;
  margin-bottom: 2.1em;
  font-size: 0.71429em;
  line-height: 2.1em;
}

.bigger {
  margin-top: 0.875em;
  margin-bottom: 0.875em;
  font-size: 1.71429em;
  line-height: 1.75em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
  line-height: 1em;
}

hr {
  display: block;
  height: 1px;
  margin: 21px 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #cad2d2;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: "Consolas", Monaco, Menlo, Courier New, monospace;
}

pre {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5em;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.42857em;
  background-color: #eff1f1;
  -webkit-border-radius: bdr-rad;
  -moz-border-radius: bdr-rad;
  -ms-border-radius: bdr-rad;
  -o-border-radius: bdr-rad;
  border-radius: bdr-rad;
}

blockquote {
  padding: 1.5em 20px;
  margin: 21px 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-left: 4px solid #cad2d2;
  color: #95a5a6;
  background: #fff;
}
blockquote small {
  font-size: 0.78571em;
  line-height: 1.90909em;
  color: #cad2d2;
}
blockquote small:before {
  content: '\2014 \00A0';
  color: #eff1f1;
}

cite {
  font-style: italic;
}

q {
  quotes: none;
}
q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* List */
ul, ol, dl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ul, ol {
  padding-left: 40px;
}

ul {
  list-style-type: disc;
}
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

ol {
  list-style-type: decimal;
}
ol ol {
  margin-top: 0;
  margin-bottom: 0;
}

dl dt {
  font-weight: bold;
}

dd {
  margin: 0 0 0 40px;
}

nav ul, nav ol {
  padding-left: 40px;
  list-style: none;
  list-style-image: none;
}

/* Embedded content */
img {
  border: 0;
}

video, img, object {
  max-width: 100%;
  height: auto;
}

object, embed {
  height: 100%;
}

iframe {
  border: 0;
}

img, input[type=image] {
  vertical-align: bottom;
}

svg:not(:root) {
  overflow: hidden;
}

/* Figure */
figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

label {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button {
  border: none;
  background: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  width: 12px;
  height: 12px;
  padding: 0;
  vertical-align: baseline;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  max-width: 100%;
  max-height: 168px;
  padding: 21px;
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  border: 1px solid #cad2d2;
  -webkit-border-radius: bdr-rad;
  -moz-border-radius: bdr-rad;
  -ms-border-radius: bdr-rad;
  -o-border-radius: bdr-rad;
  border-radius: bdr-rad;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
  border-color: #95a5a6;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  height: 42px;
  padding: 0 21px;
}
.lt-ie9 input[type="text"], .lt-ie9
input[type="password"], .lt-ie9
input[type="email"] {
  line-height: 42px;
}

/* Table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------
   Module
------------------------------------------- */
/* Grid
-------------------------- */
.wrapper {
  max-width: 960px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  overflow: hidden;
}
.row .row {
  margin-left: -10px;
  margin-right: -10px;
}

[class*=col-] {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

/* Column */
.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

.col-12 {
  width: 100%;
}

/* Push left column */
.offset-col-1 {
  margin-left: 8.33333%;
}

.offset-col-2 {
  margin-left: 16.66667%;
}

.offset-col-3 {
  margin-left: 25%;
}

.offset-col-4 {
  margin-left: 33.33333%;
}

.offset-col-5 {
  margin-left: 41.66667%;
}

.offset-col-6 {
  margin-left: 50%;
}

.offset-col-7 {
  margin-left: 58.33333%;
}

.offset-col-8 {
  margin-left: 66.66667%;
}

.offset-col-9 {
  margin-left: 75%;
}

.offset-col-10 {
  margin-left: 83.33333%;
}

.offset-col-11 {
  margin-left: 91.66667%;
}

@media (max-width: 640px) {
  [class*=col-] {
    width: auto;
    float: inherit;
  }
}
/* List
-------------------------- */
.list-reset, .list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  vertical-align: middle;
}
.lt-ie8 .list-inline > li {
  display: inline;
  zoom: 1;
}
.list-inline > li + li {
  margin-left: 5px;
}

/* Button
-------------------------- */
.btn, .btn-cancel {
  height: 42px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 21px;
  margin: 0;
  line-height: 42px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
  border: none;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}
.lt-ie8 .btn, .lt-ie8 .btn-cancel {
  display: inline;
  zoom: 1;
}

.btn-s {
  height: 21px;
  padding: 0 10.5px;
  line-height: 21px;
  font-size: 0.71429em;
}

.btn-l {
  height: 63px;
  padding: 0 42px;
  line-height: 63px;
  font-size: 1.42857em;
}

.btn-full {
  width: 100%;
}

.btn {
  color: white;
  background-color: #3498db;
}
.btn:hover {
  color: white;
  background: #246a99;
}

.btn-cancel {
  color: white;
  background-color: #e74c3c;
}
.btn-cancel:hover {
  color: white;
  background: #c44033;
}

/* Media
-------------------------- */
.media {
  overflow: hidden;
  position: relative;
}

.media--img {
  float: left;
  margin-right: 20px;
}
.media--img > img {
  display: block;
}

.media--img-ext {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

/* Box
-------------------------- */
/* box */
/* Icon
-------------------------- */
[class*="icon-"] {
  display: inline-block;
  vertical-align: middle;
}
.lt-ie8 [class*="icon-"] {
  display: inline;
  zoom: 1;
}

/* Message
-------------------------- */
.message-error, .message-sucess, .message-warn, .message-info {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1.5em;
}

.message-error {
  color: white;
  background: #e74c3c;
}

.message-sucess {
  color: white;
  background: #2ecc71;
}

.message-warn {
  color: white;
  background: #f1c40f;
}

.message-info {
  color: white;
  background: #95a5a6;
}

/* ----------------------------------------
   Partial
------------------------------------------- */
/* Header
-------------------------- */
/* Content
-------------------------- */
/* Aside
-------------------------- */
/* Footer
-------------------------- */
/* ----------------------------------------
   Helpers
------------------------------------------- */
/* Block Helper
-------------------------- */
/* clearfix */
.cfix:after {
  content: "";
  display: table;
  clear: both;
}

.is-hide {
  display: none;
}

/* Display */
.disp-b {
  display: block;
}

.disp-i {
  display: inline;
}

.disp-ib {
  display: inline-block;
}

.disp-t {
  display: table;
  border-collapse: collapse;
}

.disp-tc {
  display: table-cell;
}

.disp-tr {
  display: table-row;
}

/* Width */
@media (max-width: 768px) {
  .w60, .w66, .w70, .w75, .w80, .w90, .w100 {
    width: auto;
  }
}

.w10 {
  width: 10%;
}

.w20 {
  width: 20%;
}

.w25 {
  width: 25%;
}

.w30 {
  width: 30%;
}

.w33 {
  width: 33.333%;
}

.w40 {
  width: 40%;
}

.w50 {
  width: 50%;
}

.w60 {
  width: 60%;
}

.w66 {
  width: 66.666%;
}

.w70 {
  width: 70%;
}

.w75 {
  width: 75%;
}

.w80 {
  width: 80%;
}

.w90 {
  width: 90%;
}

.w100 {
  width: 100%;
}

/* Float */
.fl-n {
  float: none;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

/* Spacing
-------------------------- */
/* Margin */
.m-reset {
  margin: 0;
}

.mtn {
  margin-top: 0;
}

.mts {
  margin-top: 0.75em;
}

.mtm {
  margin-top: 1.5em;
}

.mtl {
  margin-top: 3em;
}

.mbn {
  margin-bottom: 0;
}

.mbs {
  margin-bottom: 0.75em;
}

.mbm {
  margin-bottom: 1.5em;
}

.mbl {
  margin-bottom: 3em;
}

.mln {
  margin-left: 0;
}

.mls {
  margin-left: 0.75em;
}

.mlm {
  margin-left: 1.5em;
}

.mll {
  margin-left: 3em;
}

.mrn {
  margin-right: 0;
}

.mrs {
  margin-right: 0.75em;
}

.mrm {
  margin-right: 1.5em;
}

.mrl {
  margin-right: 3em;
}

/* Padding */
.p-reset {
  padding: 0;
}

.ptn {
  padding-top: 0;
}

.pts {
  padding-top: 0.75em;
}

.ptm {
  padding-top: 1.5em;
}

.ptl {
  padding-top: 3em;
}

.pbn {
  padding-bottom: 0;
}

.pbs {
  padding-bottom: 0.75em;
}

.pbm {
  padding-bottom: 1.5em;
}

.pbl {
  padding-bottom: 3em;
}

.pln {
  padding-left: 0;
}

.pls {
  padding-left: 0.75em;
}

.plm {
  padding-left: 1.5em;
}

.pll {
  padding-left: 3em;
}

.prn {
  padding-right: 0;
}

.prs {
  padding-right: 0.75em;
}

.prm {
  padding-right: 1.5em;
}

.prl {
  padding-right: 3em;
}

/* Text
-------------------------- */
.txt-l {
  text-align: left;
}

.txt-c {
  text-align: center;
}

.txt-r {
  text-align: right;
}

.txt-j {
  text-align: justify;
}

.txt-t {
  vertical-align: top;
}

.txt-m {
  vertical-align: middle;
}

.txt-b {
  vertical-align: bottom;
}

.bold {
  font-weight: bold;
}

.no-bold {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.no-italic {
  font-style: normal;
}

.under-l {
  text-decoration: underline;
}

.upper-c {
  text-transform: uppercase;
}

.lower-c {
  text-transform: lowercase;
}

.hide-text {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}
