#header {
	background: #ccc;
	min-height: 80px;
}

#content {
	margin-top: 20px;
	margin-bottom: 20px;
	background: #ddd;
}

#section, #aside {
	min-height: 200px;
	background: #ccc;
}

#footer {
	background: #ccc;
	min-height: 80px;
}