/* Block Helper
-------------------------- */

/* clearfix */
.cfix:after {
    content: "";
    display: table;
    clear: both;
}

.is-hide { display: none; }

/* Display */
.disp-b  { display: block; }
.disp-i  { display: inline; }
.disp-ib { @include inline-block; }

.disp-t  {
    display: table;
    width: 100%;
    border-collapse:
    collapse;
}
.disp-tc { display: table-cell; }
.disp-tr { display: table-row; }

/* Alignement */
.v-top    { vertical-align: top; }
.v-middle { vertical-align: middle; }
.v-bottom { vertical-align: bottom; }

/* Width */

.w10    { width: 10%; }
.w20    { width: 20%; }
.w25    { width: 25%; }
.w30    { width: 30%; }
.w33    { width: 33.333%; }
.w40    { width: 40%; }
.w50    { width: 50%; }
.w60    { width: 60%;     @extend %width-helper; }
.w66    { width: 66.666%; @extend %width-helper; }
.w70    { width: 70%;     @extend %width-helper; }
.w75    { width: 75%;     @extend %width-helper; }
.w80    { width: 80%;     @extend %width-helper; }
.w90    { width: 90%;     @extend %width-helper; }
.w100   { width: 100%;    @extend %width-helper; }

%width-helper {
  @include mq(small) {
    width: auto;
  }
}

/* Float */
.fl-n { float: none; }
.fl-l { float: left; }
.fl-r { float: right; }