// Column width
$col-width: 20px;

// Each side margin of a column
$col-gutter-width: 5px;

// External width of a column, counting each side of the gutter
$col-outer-width: $col-width + $col-gutter-width * 2;

// Number of columns
$cols: 12;

// Total width of content
$container-width: $cols * $col-outer-width;

// Mixin
@mixin col($cols) {
	width: $cols * $col-width + ($col-gutter-width * 2) * ($cols - 1); // size of the block
}

/* Grid
   ----------------------- */
.row {
	@extend .clearfix;
	width: $container-width;
}

[class*=col-] {
	float: left;
	margin: {
		left: $col-gutter-width;
		right: $col-gutter-width;
	}
}

@for $i from 1 through $cols {
	.col-#{$i} {
		@include col($i);
	}
}