/* list
   ----------------------- */

.list-reset {
	padding-left: 0;
	list-style: none;
}

/* List inline */

.list-inline {
	@extend .list-reset;
}

.list-inline li {
	@include inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.list-inline li:last-child {
	margin-right: 0px;
}