/* List inline
   ----------------------- */

.list-inline {
	padding-left: 0;
	list-style: none;
}

.list-inline li {
	@include inline-block;
	margin-right: 10px;
}

.list-inline li:last-child {
	margin-right: 0px;
}

/* list vertical
   ----------------------- */

.list-vertical-reset {
	padding-left: 0;
	list-style: none;
}